//https://v5.getbootstrap.com/docs/5.0/customize/optimize/
//https://fontawesome.com/v4.7.0/icons/  --- check font codes
//demo site https://visithumboldt.com/
// Custom.scss
// Option B: Include parts of Bootstrap



// Configuration
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";


// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";

@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";


@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";

@import "../node_modules/bootstrap/scss/popover";

@import "../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack


.navbar {
    width: 100%;
    height:300px;
//     clip-path: ellipse(100% 93% at 47% 0%);
//     background: linear-gradient(90deg, rgba(0,65,255,0.4741246840533089) 0%, rgba(19,189,229,0.08196782130821079) 61%),url('../pic1.jpg');
//     background-size: cover;
//     background-position: center center;
clip-path: ellipse(81% 86% at 53% 13%);
       background: linear-gradient(90deg, rgba($primary,0.6449930313922444) 0%, rgba($blue-900,0.24163168685442926) 49%), url(../pic1.jpg);
           
       background-position: center center;
       background-size:cover;
       
 }

// body {
//     background-image: url('../pic1.jpg');;
// }

// .bgw {
//     background-color:rgba(white,0.5);
// }
// .bgb {
//     background-color: black;
// }

// .bgblue {
//     background-color: blue;
// }

 @import url('https://fonts.googleapis.com/css?family=Lato:300,700');

 $font: 'Lato', sans-serif;

// $white: #ffffff;
// $black: #000000;
 // $third-color: #b1b901;
// $blue: #81CCE8;

// $ease: all .3s ease;

 .search-box {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top:2em;
   }
// label {display: block;}

input[type=search] {
//   box-shadow: 10px 10px 4px rgba($black, .4);
     background: $white;
     border: 2px solid $third-color;
     outline: none;
     width: 70%;
   height: 50px;
   border-radius: 15px 0 0 15px;
   font-size: 1.4em;
   font-weight: 300;
  padding: 0px 10px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: $third-color;

}

 .search-btn {
//   box-shadow: 10px 10px 4px rgba($black, 0.4);
   height: 50px;
   width: 55px;
   outline: none;
    border: 2px solid $third-color;
   border-radius: 0 15px 15px 0;
   background: $third-color;
   color: $white;

 }

 .search-btn:hover {
        color:$dark;
 }

// ::placeholder {
//   color: $blue;
//   font-size: .8em;
// }


// main {
//     margin:0 20%;
//     background-color: rgba($orange,0.7);
// }

// @media (min-width: 1200px) {  //????
// .display-3 {
//     margin-top: 0.5em;
// }
// }

// .navbar {
//     display: flex;
//     align-items: flex-start;
// }
//